# Ignoring .idea directory
.idea/

# Ignoring .vs directory
.vs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml